.ace_editor {
  min-height: 200px;
  height: 100% !important;
  width: 100%;
  overflow: auto;
}

.mat-divider {
  margin: 10px 0;
}

.mat-drawer-container {
  height: 100%;
}

.position-fixed {
  position: fixed;
  button {
    margin: 0 5px;
  }
}

.mat-spacer {
  flex: 1 1 auto;
}

.content {
  margin-top: 46px;
  height: calc(100% - 46px);
  position: relative;
}

.mat-toolbar {
  height: 46px;
}

::ng-deep .acediff__copy--left div, ::ng-deep .acediff__copy--right div {
  margin-top: -1px !important;
}