<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="position-fixed">
        <button mat-raised-button (click)="checkInputPackages()">
          <mat-icon>autorenew</mat-icon>
          Check
        </button>
        <button mat-raised-button (click)="copyOutputPackages()">
          <mat-icon>done_all</mat-icon>
          Copy
        </button>
      <span class="mat-spacer"></span>
      <span>{{ title }}</span>
      <a mat-button href="https://github.com/poipoii/pypi-requirements" target="_blank">
        <img src="assets/github-circle-white-transparent.svg">
        Github
      </a>
    </mat-toolbar>

    <div class="content">
      <div class="acediff"></div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
